@import url('https://fonts.googleapis.com/css?family=Poppins|Lobster:400,500,700');


body {
	padding: 0;
	margin: 0;
	background: rgba(220,220,220, 0.1);
}

header {
	display: flex;
	padding: 20px 10%;
	justify-content: center;
}

h2 {
	font-family: 'Lobster', sans-serif;
	font-size: 30px;
}

.wrapper {
	max-width: 350px;
	border-radius: 20px;
	background: rgba(211, 84, 0, 0.8);
	margin: auto;
	margin-top: 5px; 
	box-sizing: border-box;
	padding: 30px;
	color: #fff;
}

h3 {
	text-align: center;
}

label {
	float: left;
	margin: 10px 0px 0px 5px;
	font-family: 'Poppins', sans-serif;
}

input[type=text], input[type=date] {
	width: 100%;
	box-sizing: border-box;
	padding: 5px 5px;
	background-color: rgba(255, 255, 255);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}
textarea {
	width: 100%;
	margin: 5px;
	min-height: 70px;
	border-radius: 5px;
	border: none;
}

input[type=submit] {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%
	padding: 15px 0px;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	border-radius: 20px;
	color: #60adde;
	font-weight: bold;
	align-self: center;
	border: none;

}

input[type=submit]:hover {
	background-color: #00BFFF;
	color: #FFF;
}